.App {
    text-align: center;
}

.header {
    padding: 10px;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0;
    padding: 0 30px 10px 30px;
}

.dropdownsWrapper {
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}

.pageBox {
    margin: 0 10%;
}


.imageWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 10px 5%;
}

.styles-pictures {
    width: 100%;
    transition: 1s;
}

/*.styles-pictures:hover {*/
/*    padding: 5px;*/
/*    background-color: white;*/
/*    border: 1px solid lightgray;*/
/*    transform: scale(2.2);*/
/*}*/

.logo_image {
    border-radius: 50%;
}

@media (max-width: 420px) {
    .image_in_modal {
        height: 350px;
    }
}

@media (min-width: 421px) and (max-width: 520px) {
    .image_in_modal {
        height: 390px;
    }
}

@media (min-width: 521px) and (max-width: 620px) {
    .image_in_modal {
        height: 500px;
    }
}

@media (min-width: 621px) {
    .image_in_modal {
        height: 600px;
    }
}




